<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <!-- Page header -->
    <header>
      <div class="logo-wrapper">
        <img class="logo-wrapper__img" alt="Mickey Mouse Clubhouse logo" src="/images/toppng.com-mickey-mouse-clubhouse-logo-png-1280x563.webp">
      </div>

      <nav class="navbar">
        <a href="/Sign-up" class="navbar__anchor navbar__left-ear">Sign Up</a>
        <a href="/Log-in" class="navbar__anchor navbar__right-ear">Log in</a>
      </nav>
    </header>

    <!-- Page main content -->
    <main>

      <div class="button-wrapper">
        <a href="/member-initiation" class="button-wrapper__member-anchor">Become a member to create posts</a>
        <button class="button-wrapper__post-button">Create Post</button>
      </div>

      <div class="main-content">
      
        <div class="post">
          <h3 class="post__header">Welcome to the ClubHouse</h3>
          <p class="post__paragraph">Stick around and check out everyone's posts or create your own by logging in and becoming a member</p>
          <p class="post__paragraph-time"> sent at 5:54pm </p>
        </div>

        <div class="post">
          <h3 class="post__header">Welcome to the ClubHouse</h3>
          <p class="post__paragraph">Stick around and check out everyone's posts or create your own by logging in and becoming a member</p>
          <p class="post__paragraph-time"> sent at 5:54pm </p>
        </div>

        <div class="post">
          <h3 class="post__header">Welcome to the ClubHouse</h3>
          <p class="post__paragraph">Stick around and check out everyone's posts or create your own by logging in and becoming a member</p>
          <p class="post__paragraph-time"> sent at 5:54pm </p>
        </div>

        <div class="post">
          <h3 class="post__header">Welcome to the ClubHouse</h3>
          <p class="post__paragraph">Stick around and check out everyone's posts or create your own by logging in and becoming a member</p>
          <p class="post__paragraph-time"> sent at 5:54pm </p>
        </div>

        <div class="post">
          <h3 class="post__header">Welcome to the ClubHouse</h3>
          <p class="post__paragraph">Stick around and check out everyone's posts or create your own by logging in and becoming a member</p>
          <p class="post__paragraph-time"> sent at 5:54pm </p>
        </div>

        <div class="post">
          <h3 class="post__header">Welcome to the ClubHouse</h3>
          <p class="post__paragraph">Stick around and check out everyone's posts or create your own by logging in and becoming a member</p>
          <p class="post__paragraph-time"> sent at 5:54pm </p>
        </div>

        <div class="post">
          <h3 class="post__header">Welcome to the ClubHouse</h3>
          <p class="post__paragraph">Stick around and check out everyone's posts or create your own by logging in and becoming a member</p>
          <p class="post__paragraph-time"> sent at 5:54pm </p>
        </div>
       
      </div>
    </main>

     <%- include('post-form.ejs') %> 

    <!-- Page Footer -->
     <footer>

     </footer>
  </body>
</html>