<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
  </head>
  <body>
    <!-- Page header -->
    <header>
      <h1>Welcome to the Mickey Mouse's Clubhouse</h1>
    </header>

    <!-- Page main content -->
    <main>
    </main>

    <!-- Page Footer -->
     <footer>

     </footer>
  </body>
</html>