<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/webp" href="images/clubhouse-icon.webp">
    <title><%= title %></title>
    <link rel="stylesheet" href="/form.css">
  </head>
  <body>
    <!-- Page header -->
    <header>
      <div class="logo-wrapper">
        <img class="logo-wrapper__img" alt="Mickey Mouse Clubhouse logo" src="/images/toppng.com-mickey-mouse-clubhouse-logo-png-1280x563.webp">
      </div>
    </header>

    <!-- Page main content -->
    <main>
      <div class="main-content">
      
        <div class="form-wrapper">
          <h2 class="form-wrapper__header">Member Initiation</h2>

          <form method="POST" action="/member-initiation" class="form-wrapper__form">
              <div class="form-group">
                <label for="answer">Mickey was almost named...</label>
                <input id="answer" name="answer" type="text" placeholder="Answer123" required>
              </div>
              <button type="submit">Submit</button>
          </form>

        </div>
       
      </div>

      <a href="/" class="go-back-button">Go back<a>
    </main>

    <!-- Page Footer -->
     <footer>

     </footer>
  </body>
</html>