<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css">
  </head>

    <!-- Page main content -->

      <div class="post-form-popup">
        <button class="close-form-button">X</button>

        <!-- <div class="main-content__img-wrapper Goofy-hat-wrapper">
          <img src="/images/Goofy's hat.webp">
        </div> -->
      
        <div class="form-wrapper" id="post-form">
          <h2 class="form-wrapper__header">Create a post</h2>

          <form method="POST" action="/" class="form-wrapper__form">
              <div class="form-group">
                <label for="post-title">Title</label>
                <input id="title" name="title" type="text" placeholder="Title123" required>
              </div>

              <div class="form-group">
                <label for="text">Text</label>
                <textarea id="text" name="text" placeholder="Text123..." required></textarea>
              </div>
              
              <button type="submit">Post</button>
          </form>

        </div>
       
      </div>



</html>